* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

canvas {
    border: 3px solid #fff;
    width: 100%;
    height: 100%;
}

img {
    display: none;
}

#startScreen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('./assets/turtle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    z-index: 1000;
}

#startGameBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#arrowUp {
    position: absolute;
    bottom:0; right:0;
    display: none;
    -webkit-justify-content:center;
    justify-content: center;
    -webkit-align-items:center;
    align-items: center;
    border: none;
    outline: none;
    background-color: white;
    color:red;   
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    border-radius: 50%;
    cursor:pointer;
    z-index: 1000;
}